[2015-04-13 10:18] cybergeek94 opened #4 "Improve null pointer handling"
Many parts of this crate's API as well as some of the related ones return `Option` to handle when a pointer returned from an FFI call is null. Unless the C API documentation says why a returned pointer might be null, it is probably safe to assume that a null pointer means something bad happened and the program shouldn't continue (e.g. allocation failure/OOM). Overuse of `Option` for little good re

[2015-04-13 10:30] GuillaumeGomez commented on #4
I don't agree, a lot of gtk objects returns NULL even if it's not a fatal error. For example, if you want to open an inexistent file, you'll have a NULL pointer returned. And there are a lot of cases like this. If the object allocation function returns None, it's up to the user to see what and why it didn't work.

[2015-04-13 10:41] cybergeek94 commented on #4
When an `Option` is `None` it doesn't imply any sort of error, just that the value requested is unavailable. In cases of the former kind it's pragmatic in Rust to return `Result`. Even if the return types for these methods were changed to `Result<_, ()>` until a more sane error type came forward, it would be a massive increase in ergonomics because it would work with the `try!()` macro, and it wou

[2015-04-13 10:47] GuillaumeGomez commented on #4
Basically, we had a `Result` returning stuff if I remember well. Why did we change ? I'd need to speak about that with @jeremyletang. Personally, I prefer the `Option` over the `Result`, but that's just my opinion...

I'm against panicking in libraries, except for the library initialization function (and yet, and I don't really like that). Why ? Because you prevent the developer to handle the libr

[2015-04-13 11:07] cybergeek94 commented on #4
Rust is getting limited support for panic handling with [`thread::catch_panic`][1], and it's already encapsulated with threads. The standard library itself has many instances where panicking is used to catch bugs and halt undefined behavior, such as multiple borrows of `RefCell`, or joining a scoped thread, or attempting to index an array out of its bounds, or failure to allocate memory.

Anecdota

[2015-04-13 12:34] gkoz commented on #4
This discussion lacks specific examples of the offending practice. If you're talking about constructors, it's been established null checking (aside from asserts) isn't necessary and should be removed. There are cases where `Option` is legitimate. On the other hand, functions that can fail don't all return pointers.

[2015-04-13 21:14] cybergeek94 commented on #4
@gkoz That's what I'm saying. Work towards more logical and informative return types.

In `gdk::widgets::Pixbuf`:

* `new()` - returns `Option` on a null-pointer check, but the docs for `gtk_pixbuf_new` say nothing about returning null pointers.
* `new_from_subpixbuf()` - same thing
* `get_pixels_with_length()` - same thing

No functions for `GdkPixbuf` state explicitly that they can return null p

[2015-04-13 21:45] gkoz commented on #4
Constructors sure, but converting them wasn't a priority because we're likely to rehash them soon when altering the wrapper architecture.

Other functions - if they aren't expected to return `NULL`, you're welcome to fix them (in case of `char*`, you'd simply use `FromGlibPtrNotNull::borrow()`).

Now there's a question of functions that actually can return `NULL`, like [gtk_button_get_label](https

[2015-04-13 21:49] cybergeek94 commented on #4
@gkoz As I've emphasized repeatedly, returning `Option` for a function that has a documented case of returning null pointers is perfectly fine! That's what `Option` is there for.

Using `()` as an error type would just be a temporary stopgap, basically making it an `Option` but informing the user that an absence of a value is an error state, instead of implying that it's simply unavailable. Later

[2015-04-13 21:53] gkoz commented on #4
Yeah those that have a notion of failure should return `Result`.

[2015-05-01 03:25] jashephe opened #11 "GdkPixbufLoader?"
Hi, I've been looking around, and I've been having trouble figuring out if [GdkPixbufLoader](https://developer.gnome.org/gdk-pixbuf/2.30/GdkPixbufLoader.html) has been implemented.  Is there any chance that it might be implemented in the future, or has it already been done and am I just looking in the wrong place?  Thanks a lot!

[2015-05-01 10:43] GuillaumeGomez commented on #11
No, it hasn't been implemented yet. I'll add it as soon as I can.

[2015-05-01 12:19] GuillaumeGomez commented on #11
It'll be good when #12 will be merged.

[2015-05-01 14:23] GuillaumeGomez commented on #11
And it's good. Feel free to add any missing you would need !

[2015-05-01 14:23] #11 closed

[2015-05-01 15:03] jashephe commented on #11
Awesome — thanks so much!

[2015-05-02 01:57] jashephe opened #13 "GErrors as supplementary returns (+ GQuarks and Error domains)"
I recently encountered this thanks to the addition of `gdk::PixbufLoader` in #11.  `PixbufLoader`'s function `loader_write(&self, buf: &[u8], error: &mut Error)` requires passing a `GError` (in the form of `gdk::glib::Error`).  [In the GDK documentation](https://developer.gnome.org/gdk-pixbuf/unstable/GdkPixbufLoader.html#gdk-pixbuf-loader-write), the function is looking for a double pointer to me

[2015-05-02 11:02] GuillaumeGomez commented on #13
It is reproduced but you just don't see it. Inside the function, we unwrap the pointer and its address to the function. However, it seems I should add a `Error::new()` without params. What do you think of that ?

[2015-05-02 11:56] gkoz commented on #13
@jashephe is right, that way doesn't work, we need to accept a new pointer to the error and take ownership of it.

[2015-05-02 12:34] GuillaumeGomez commented on #13
Hum... I'll look to do that later in the afternoon then.

[2015-05-02 13:16] jashephe commented on #13
Thanks a lot!  I'd love to try to get more involved and help out with this sort of thing, but I'm not really sure how this one should be implemented.

As @gkoz suggests, I think the ideal function signature would look something like
[code]

[2015-05-02 14:18] GuillaumeGomez commented on #13
@jashephe: If you want you can try to do this one. You don't have anything to lose and we can help. :-)

[2015-05-02 14:25] jashephe commented on #13
Alright, I'll take a look.

[2015-05-02 23:44] jashephe commented on #4
So, I don't know if anyone has had any thoughts about this recently, but my $0.02 would be along the lines of:
[code]
We could try moving what we have in `Error` currently to `GError` or something like that, so we can have `Error` be a rust-gnome specific thing like:
[code]

[2015-05-02 23:50] GuillaumeGomez commented on #4
I didn't work a lot on Glib so I can't give you a good feedback on that... @gkoz, what do you think of his idea ?

[2015-05-03 10:44] gkoz commented on #4
enum Error {
    SomeRustGnomeError,
    SomeOtherRustGnomeError,
    GError(GError)
}
[code]

[2015-05-03 19:50] gkoz commented on #4
@jashephe aside from the question of how to represent `GError` best, your suggestion seems alright.

[2015-05-05 14:54] jashephe commented on #13
Resolved by #15 and #16.

[2015-05-05 14:54] #13 closed

[2015-05-06 08:19] gkoz commented on #4
This may be relevant for error handling design: https://github.com/rust-lang/rust/pull/24793

[2015-05-09 02:58] jashephe opened #20 "GDK Cairo Interaction"
GDK offers a number of [methods for interfacing with Cairo surfaces](https://developer.gnome.org/gdk3/stable/gdk3-Cairo-Interaction.html).  I'd like to see these added, because they can be useful for loading images to render to Cairo surfaces (i.e. `gdk_cairo_set_source_pixbuf()`).  Where would be the best place to add these?  Should they be a part of **rust-gnome/gdk** or would they be better in

[2015-05-09 10:10] GuillaumeGomez commented on #20
The library where to push is the one which start the function's name. In this case, it is `gdk`. Unless there is a strong nonsense to do so, I'd add it to `gdk`.

[2015-05-09 10:13] gkoz commented on #20
I don't think they could be put into the cairo crate but traits in Rust allow us to add more methods to `Context` in this crate.
BTW please hold off making any changes to gdk for a day while I'm preparing a GObject refactoring patch.

[2015-05-09 10:15] GuillaumeGomez commented on #20
@jashephe: Or you can but you'll certainly need to update your code and I won't merge it until @gkoz is done.

[2015-05-09 14:22] jashephe commented on #20
Okay, I can look into adding them as a trait for `Context` (at least, the ones that are appropriate), but I'll wait until @gkoz's changes have landed before I start.

[2015-05-09 14:25] GuillaumeGomez commented on #20
Thanks in advance then. :-)

[2015-05-09 21:17] Eilie opened #22 "Missing gdk_pixbuf_new_from_file()"

[2015-05-09 21:20] GuillaumeGomez commented on #22
There're a lot gdk_pixbuf missing it seems... I add them.

[2015-05-09 21:21] Eilie commented on #22
@GuillaumeGomez Great, thank you!

[2015-05-09 21:38] GuillaumeGomez commented on #22
Take a look at #23.

[2015-05-09 22:44] GuillaumeGomez commented on #22
And it's done.

[2015-05-09 22:44] #22 closed

[2015-05-10 14:10] gkoz opened #25 "Event structs need safe wrappers"
Some discussion here: #21

[2015-05-10 20:59] lucaswerkmeister opened #28 "Pixbuf::new"
See discussion on ba7ccfc ([comment](https://github.com/rust-gnome/gdk/commit/ba7ccfce909fdffab5a123269e135b316910f958#commitcomment-11123651)). Summary:

- [ ] Add `Pixbuf::new_uninitialized`, directly calls `gdk_pixbuf_new`
- [ ] Make `Pixbuf::new` clear its newly allocated buffer
- [ ] Remove `unsafe` from `Pixbuf::new`

[2015-05-10 21:01] GuillaumeGomez commented on #28
Thanks for opening this issue. I don't have time before tomorrow (or after tomorrow if very unlucky), so if anyone wanna do it, please do ! :-)

[2015-05-10 21:02] lucaswerkmeister opened #29 "Pixbuf saving"
For the start, just having [`gdk_pixbuf_save`](https://developer.gnome.org/gdk-pixbuf/stable/gdk-pixbuf-File-saving.html#gdk-pixbuf-save) without save parameters would be nice, and probably sufficient for many applications.

[2015-05-10 21:05] GuillaumeGomez commented on #29
We don't have bind it yet, weird... There's a lot of missing functions in gdk, that's really weird. I think we'll need to do a global re-check on it to see what's missing and do a list.

[2015-05-10 21:40] lucaswerkmeister commented on #29
Should I just keep creating issues for the missing ones I finds

[2015-05-10 21:42] GuillaumeGomez commented on #29
Just create one issue and then add what's missing in it, it'll be easier for everyone to follow. And like that, we'll even know who's working on what. It'll allow to avoid issue we had when @gkoz and me were working on the same thing (and it happened a lot of time haha).

[2015-05-10 21:45] lucaswerkmeister commented on #29
Alright, I repurposed this issue for that. (For future reference: Originally, it was just about “Save to file”.)

[2015-05-10 21:47] GuillaumeGomez commented on #29
Originally, it was just "that". ;-) Thanks !

[2015-05-10 23:28] gkoz commented on #29
We most likely want a tuple struct for that. Too bad that the `RGBA` name [is already taken](https://developer.gnome.org/gdk3/stable/gdk3-RGBA-Colors.html#GdkRGBA).

[2015-05-11 12:58] gkoz commented on #28
If `set_alpha` is set, wouldn't initializing to all zeroes mean the image is transparent? This may not be a nice default. Maybe initialize to all `255`? I've no expertise in this area.

[2015-05-11 13:14] gkoz opened #32 "API stabilization"
We should look at adding some structure to the crate's types organization. I don't like putting everything into the top-level namespace.
For example, the pixbufs stuff should stay in the `pixbuf` module. There we might also want to drop the `Pixbuf` prefix from most types (e.g. `PixbufLoader` -> `pixbuf::Loader`). I'm torn on the latter proposition though because renaming the classes may confuse p

[2015-05-11 13:14] lucaswerkmeister commented on #28
That might be a problem if people set the color on the `pixels` array manually and forget to set the alpha channel as well. Perhaps we could do `pixbuf::fill(0x000000ff)`. (Not sure if that’s significantly more expensive than just zeroing the memory.)

[2015-05-11 13:18] gkoz commented on #28
We might also take the desired value as an argument and then pass it to `fill`. In that case we need to take care of the `fill` API first.

[2015-05-11 13:21] GuillaumeGomez commented on #32
Hum... I saw that with pixbuf, but I think this is more like a personal preference. However, in gtk it could be nice since we have a looooooooooooooot of files. And since we'll do it for gtk, why not for everything else ? >:-D

[2015-05-11 13:22] GuillaumeGomez commented on #28
The alpha should __always__ be to 255 by default.

[2015-05-11 13:24] gkoz commented on #28
Yeah but what if we just don't do default and require a specific value.

[2015-05-11 13:25] GuillaumeGomez commented on #28
That's a common sense. alpha is always set to 1 (or 255) in order to print something. The alpha value is only set when you need your color to not be fully opaque.

[2015-05-11 13:30] gkoz commented on #28
I'm saying, if we add a `struct IntRGBA(u8, u8, u8, u8)` (name not important right now) and make `fill` take it as an argument, we then add this argument to `new` and it will call out to `fill`.

[2015-05-11 13:31] lucaswerkmeister commented on #28
I’d prefer that as well. We’ll have to call `fill` anyways (unless we initialize with opaqe white using `memset`), so we might as well make the color configurable. Both black and white would probably be useful to some users.

[2015-05-11 13:31] GuillaumeGomez commented on #28
We can also ask for `Option<u8>` as last parameter. I really don't like to force a user to set alpha.

[2015-05-11 14:37] gkoz commented on #28
There will be some kind of `fill` anyway. So if we want some consistency we'd probably be choosing between
[code]
 and
[code]

[2015-05-11 14:43] GuillaumeGomez commented on #28
I prefer your seonc proposition. If the pixbuf has pixbuf but the user doesn't provide it, we set it to 255 like in every other library in the world (yes, in the world, nothing less haha).

[2015-05-11 14:50] lucaswerkmeister commented on #28
I prefer the first. I don’t think you’re suggesting different *types* for pixbufs with and without an alpha channel, and without that, the second variant doesn’t get you any additional type safety, so I just think it’s an unnecessary inconvenience and bloat.

[2015-05-11 14:52] GuillaumeGomez commented on #28
What I want is just the possibilty to not give the alpha and have a default one.

[2015-05-11 14:53] gkoz commented on #28
Should anyone really be using these primitives much? Is drawing on pixbufs manually a thing?

[2015-05-11 14:55] lucaswerkmeister commented on #28
I suppose it’s “a thing” in that I do it, and I think it’s the right way to do what I want to do (render an image – without OpenGL – and display it). It’s probably not a *common* thing, so any bad decisions made here aren’t *that* bad in the grand scheme of things :)

[2015-05-11 14:58] gkoz commented on #28
@lucaswerkmeister do you render it in your own buffer and copy into the pixbuf or use `get_pixels`?

[2015-05-11 14:59] lucaswerkmeister commented on #28
I `get_pixels`, split it into multiple slices (`unsafe`ly), paint onto each slice in its own thread, and repeatedly `image.set_from_pixbuf(&pixbuf);` in the main loop to refresh it. ([Link](https://github.com/lucaswerkmeister/rfractalizer) if you’re curious.)

[2015-05-11 15:03] gkoz commented on #28
Well as long as you use `get_pixels` a safe `new` doesn't buy you much does it?
Shouldn't we instead allow creating a `Pixbuf` from a `Vec` with the help of [gdk_pixbuf_new_from_data](https://developer.gnome.org/gdk-pixbuf/stable/gdk-pixbuf-Image-Data-in-Memory.html#gdk-pixbuf-new-from-data)

[2015-05-11 16:42] gkoz commented on #28
And looking closer at the APIs I feel that the `color_space` argument can be removed. I don't believe in `GdkColorspace` getting a second variant any time soon.

[2015-05-11 17:08] gkoz commented on #28
@lucaswerkmeister would you try out #33? I didn't test it...

[2015-05-11 17:10] lucaswerkmeister commented on #28
I might be able to try it in a few hours, though I don’t immediately see what I’d gain from using it.

[2015-05-11 17:13] gkoz commented on #28
This will allow you to render into your own `Vec<u8>` and then wrap it into a `Pixbuf` in safe code. (I assume you can safely do the multithreaded rendering into a `Vec`).

[2015-05-11 17:16] gkoz commented on #28
Oh wait... I see the problem now :)

[2015-05-11 17:18] lucaswerkmeister commented on #28
So I would create the `Pixbuf` and stick it into the image repeatedly, in the main loop?

[2015-05-11 17:41] gkoz commented on #28
Yeah this is too limiting for your case...

[2015-05-11 20:58] gkoz commented on #28
@lucaswerkmeister
You may want to look into using `GtkDrawingArea` for your purposes. It seems a better fit than `Image`.

[2015-05-11 22:00] lucaswerkmeister commented on #28
I’m not sure about that… if I read the documentation correctly, it doesn’t keep drawing results, but instead asks me to redraw when it’s necessary (area is uncovered, window is un-minimized, etc.). That’s good for custom widgets in general, but it seems to me I’d still need to maintain some form of pixel buffer and drawing it to the widget periodically – not very different from what I do now. (One

[2015-05-11 22:41] gkoz commented on #28
Yes, you'll have to maintain the buffer yourself but interactions between threads will be under your complete control so you won't have to resort to unsafe shared access across library boundaries. Handling that is exactly what Rust is supposed to be good at. Also redrawing only the necessary parts should be more efficient than what you had to do with `Image` because of apparent `queue_draw` defici

[2015-05-17 23:05] jashephe opened #41 "gdk-sys Cairo Dependency"
In `Cargo.toml`, the `gdk-sys` dependency is listed as
[code]
Doesn't this mean that it's pulled from [crates.io](https://crates.io/) rather than from the local copy in the repository?  Is that what we want?  Is there some way to say, "Depend on the copy of `gdk-sys` provided in the repository"?

The relevant use case is:  edit `gdk-sys` locally, adding new ffi bindings, then build `gdk` and disco

[2015-05-17 23:10] GuillaumeGomez commented on #41
The problem is that crates.io and cargo don't allow a crates to have a dependency inside the project. We didn't have the choice on this one.

[2015-05-17 23:28] jashephe commented on #41
Huh.  Can we file a bug upstream about this?  Or was there some justification for why this isn't possible?

[2015-05-17 23:30] GuillaumeGomez commented on #41
I asked about that to @acrichto on the irc, he replied that if a library needs a dependency, that dependency has to declared on crates.io, or something similar. It's late and I'm tired. ^^' I advise you to ask him the question directly, it'll be better and you'll have more details.

[2015-05-17 23:32] gkoz commented on #41
You can [use git-repo](https://github.com/gkoz/rust-gnome-manifest) to make this problem go away. There will be a cargo override out of the box.

[2015-05-17 23:34] GuillaumeGomez commented on #41
@gkoz: I don't remember why we didn't choose this solution. Well, I'll see that tomorrow.

[2015-05-17 23:37] gkoz commented on #41
@GuillaumeGomez I'm not sure what you mean by choosing or not. This is mostly how you manage your own working copy. This tool has helped me manage various branches across multiple repos and not go crazy.

[2015-05-17 23:43] gkoz commented on #41
Also, path dependencies seem to actually be allowed: https://github.com/sfackler/rust-openssl/blob/master/openssl/Cargo.toml#L22

[2015-05-17 23:44] jashephe commented on #41
I thought I had seen something like that somewhere.  I don't see why that wouldn't work in our case.  Is there any reason why we wouldn't want to do that?

[2015-05-18 07:58] GuillaumeGomez commented on #41
@jashephe: That's what we wanted to do at first, the command `cargo publish` didn't allow it, that's all.

[2015-05-18 09:47] gkoz commented on #41
@GuillaumeGomez you may want to ask sfackler how he managed it. At the very least you could just strip out the path line with used in the process of publishing while keeping it in the got.

[2015-05-18 09:49] GuillaumeGomez commented on #41
@gkoz: I will, please remind it to me, I might forget otherwise...

[2015-05-18 11:25] gkoz commented on #41
[This post](https://users.rust-lang.org/t/multi-crate-cargo-repositories-best-practices/692/2) makes me think that it should just work if you do it exactly like
[code]
The `blahblah` package does have to already be registered on crates.

[2015-05-18 11:29] GuillaumeGomez commented on #41
Hum... That seems a lot to update for just a sub-dependency...

[2015-05-18 11:39] gkoz commented on #41
We probably don't need to publish a new version because of this, as it only affects the git checkouts.

[2015-05-18 12:16] GuillaumeGomez commented on #41
Maybe we should add an explanation on this error in the README ?

[2015-05-18 12:46] gkoz commented on #41
You don't want to alter the `Cargo.toml`s? Dunno, using the path seems to be idiomatic and expected so explaining the error may not help a lot.

[2015-05-18 12:48] GuillaumeGomez commented on #41
I like the fact that `*-sys` are in an independant crate. So I don't really know what solution might fit better here...

[2015-05-18 12:54] gkoz commented on #41
The openssl example above is exactly like that -- two crates in one repo, there's just a bit different directory structure.

[2015-05-22 07:34] #20 closed

[2015-05-23 02:54] jashephe opened #49 "Object Reform obscures documentation for wrapped types"
Although @gkoz's object reform PR improved the handling of wrapped types, it resulted in the generated rustdoc pages not showing the documentation for associated methods (look at the documentation page for `Pixbuf` for an example).  This is probably a rustdoc problem, but is there anything we can do to make the docs visible?

[2015-05-23 08:36] gkoz commented on #49
Bummer.
We'll probably have to resort to some code duplication, remove the generic `Object<T>` struct and make each type its own newtype. Possibly using a macro like rgtk did.
Another problem is that even with that out of the way rustdoc won't show that e.g. `PixbufAnimation` and `PixbufSimpleAnim` implement `PixbufAnimationExt` and I'm not sure how to fix this.

[2015-05-23 08:53] gkoz commented on #49
@jashephe
I see you've already identified one or more relevant open issues in the rust repo. Could you link them here?

[2015-05-23 17:13] jashephe commented on #49
@gkoz, I'm not sure what you mean.  I haven't seen a relevant rustdoc issue, I just assumed that rustdoc was to blame.

[2015-05-23 17:25] gkoz commented on #49
I thought I saw your comment in one of rustdoc issues...

[2015-05-23 17:28] jashephe commented on #49
Ah, that was actually for a different, but perhaps related issue.  The implementation of `ContextExt` for `Context` is not shown in the documentation for __rust-gnome/gdk__, because `Context` is not part of the __gdk__ crate.  I was able to get around it by documenting the `ContextExt` trait method definitions, rather than the implementing methods.

[2015-05-23 17:30] jashephe commented on #49
Here's [that issue](https://github.com/rust-lang/rust/issues/25264), but it's not quite the same as what's going on here.

[2015-05-23 19:24] gkoz commented on #49
The type aliases issue: https://github.com/rust-lang/rust/issues/19381
The blanket impls issue: https://github.com/rust-lang/rust/issues/25608

I'm hopeful this can be fixed in rustdoc rather than by hoop-jumping.

[2015-05-23 20:07] jashephe commented on #49
It doesn't look like either of those issues has received much attention, unfortunately.

[2015-05-25 22:07] gkoz commented on #41
We probably can't do anything about this because only the current crate would see the `path` dependency while the others might still link to the same crate from crates leading to confusing errors like `expected 'glib::types::Type' found 'glib::types::Type'`.
We may have to make it clearer that the only supported way of using crates from git is to override all of the repos.
This may call for creati

[2015-05-25 22:27] GuillaumeGomez commented on #41
@gkoz: The big come back of the crates branch !

[2015-05-25 22:27] jashephe commented on #41
Does openssl not have this problem?  Or do they just not care?

[2015-05-26 09:03] gkoz commented on #41
@GuillaumeGomez this is a little different from tracking nightlies and stable separately, because we don't expect any conflicts when merging from `master`. The workflow would be: merge from master, bump the version, cargo publish.

@jashephe openssl doesn't have five repos each with a sys crate.

[2015-06-04 17:14] gsingh93 commented on #49
@gkoz, did your pull request (https://github.com/rust-lang/rust/pull/25892) fix this issue? Why exactly was it closed?

[2015-06-04 17:21] gkoz commented on #49
That was a hack that didn't get much support because of the limitations of a 10-line patch.
It wouldn't buy us much anyway and could be worked around. The big stopper is 25606 (possibly with added transitivity requirement) because most of the invisible documentation would be of the `impl <O: Upcast<Window>> WindowExt for O` kind.

[2015-07-14 22:50] 00shiv commented on #29
Any chance the "Save to file" feature will be added soon? Thanks.

[2015-07-14 22:52] GuillaumeGomez commented on #29
"Save to file" ? A link to the doc is needed here. ^^

[2015-07-14 23:08] 00shiv commented on #29
Sorry, here it is. [gdk-pixbuf-save](https://developer.gnome.org/gdk-pixbuf/stable/gdk-pixbuf-File-saving.html#gdk-pixbuf-save).

[2015-07-14 23:10] GuillaumeGomez commented on #29
That's weird, the ffi declaration doesn't seem to exist. @00shiv can you open an issue ? Or maybe you wanna add it ?

[2015-07-14 23:13] 00shiv opened #58 "gdk_pixbuf_save_* missing from ffi"
All [gdk_pixbuf_save_*](https://developer.gnome.org/gdk-pixbuf/unstable/gdk-pixbuf-File-saving.html) routines are missing from ffi.

[2015-07-14 23:14] 00shiv commented on #29
@GuillaumeGomez I opened an issue. If I get a chance I will try to add it.

[2015-07-14 23:15] GuillaumeGomez commented on #58
I think it might take some time to be added. @gkoz is finalizing the gobject reform and I prefer avoiding adding new code while he's doing it. However, if you wanna add it, I'll merge it.

[2015-07-14 23:15] GuillaumeGomez commented on #29
@00shiv: Thanks and no problem ! I already answered you ^^

[2015-07-14 23:36] gkoz commented on #58
The `gdk` crate can be considered "reformed" so it's okay to add new methods and the plain `save` method would be relatively easy to add.

[2015-09-03 04:10] ztq56 commented on #25
I wonder why event struct don't have [derive(Debug)]?

[2015-09-03 08:14] gkoz commented on #25
Thanks for pointing this out. These structs can now just be deleted from the crate, as the sys crate provides them, but the latter are missing the `Debug`s as well.

[2015-09-09 21:55] zyphrus opened #72 "Failed to compile with gtk_3_16"
The error produced is
[code]

After looking at the source there looks of what could be a copy and paste error starting in [Line 54 of Device](https://github.com/gtk-rs/gdk/blob/master/src/device.rs#L51) and [Line 61](https://github.com/gtk-rs/gdk/blob/master/src/device.rs#L61) with both `get_vendor_id` configured with the same gtk version.

versions rustc: 1.2.0 gtk: 3.16.6 gdm: 3.16.2
using the g

[2015-09-09 22:02] gkoz commented on #72
Thanks for the report. There's an incomplete PR in progress to fix this (#71) but we might have to make another one.

[2015-09-09 23:12] gkoz commented on #72
The updated crate has been published.

[2015-09-09 23:50] zyphrus commented on #72
Thank you

[2015-09-09 23:50] #72 closed

[2015-10-15 21:54] gkoz commented on #41
It seems, we have a satisfactory crate publishing process now.

[2015-10-15 21:54] #41 closed

[2015-11-03 01:22] gkoz opened #81 "GLContext integration"
There currently is no reliable way to use the `glium`/`gl` crates together with `GLContext` (and `gtk::GLArea`), which a very limited API. Previous discussion is at https://github.com/gtk-rs/examples/pull/44, let's continue it here.

[2015-11-03 01:28] gkoz commented on #81
@mjkoo

What would happen if we gave `epoxy_get_proc_address` to `gl::load_with`?

[2015-11-03 01:38] mjkoo commented on #81
Pretty sure that should work, I can give it a try in a bit to confirm. That seems to be about half of what epoxy provides, the other half is autogenerated wrappers around OpenGL functions which load the required symbols at runtime lazily. This is pretty much exactly what gl-rs does AFAICT, so we don't necessarily care about that. Given that, not sure if it would make more sense to make bindings an

[2015-11-03 02:17] gkoz commented on #81
I'd favor adding limited bindings over replicating `libepoxy` logic.

I'm also unsure if `gdk_gl_context_set_required_version` and `gdk_gl_context_set_forward_compatible` can influence the selection of `gl*` functions in a problematic way or just let you get an error if the implementation is incompatible.

[2015-11-03 02:24] gkoz commented on #81
It might be possible to look for the `epoxy_get_proc_address` symbol on demand at runtime instead of adding a dependency.

[2015-11-03 02:29] mjkoo commented on #81
Looking into it now, one issue is that `epoxy_get_proc_address` is not exposed by libepoxy, likely because it takes some bootstrapping to get it working, which we would also need to make sure gets done prior to using it even if we expose it. We could instead try to load libepoxy at runtime like you said and redirect gl::load_with to dlsym symbols from libepoxy. This is somewhat janky because now t

[2015-11-03 02:50] mjkoo commented on #81
Regarding `gdk_gl_context_set_required_version` and `gdk_gl_context_set_forward_compatible`, it looks like they just influence the parameters passed to `glXCreateContextAttribsARB` from gdk (https://github.com/GNOME/gtk/blob/master/gdk/x11/gdkglcontext-x11.c#L578), which should result in calling an invalid function returning an error code according to https://open.gl/context , so this shouldn't be

[2015-11-03 02:53] gkoz commented on #81
I'm only aware of unstable [std::dynamic_lib](http://doc.rust-lang.org/std/dynamic_lib/). GTK uses https://github.com/dlfcn-win32/ to provide `dlsym` on Windows.

[2015-11-03 03:52] mjkoo commented on #81
Pushed a PoC of the example from https://github.com/gtk-rs/examples/pull/44 back to the same branch, now loading OpenGL function addresses from epoxy, relying on it being loaded already by gdk. Uses the `shared_library` crate which is also used in glutin (`std::dynamic_lib` is deprecated according to rustc I guess).

[2015-11-03 09:16] mjkoo commented on #81
After researching it a bit, I think the best way forward is to use `gl_generator` from `gl-rs` with a custom generator to wrap `libepoxy` and let it handle lookup and caching of the relevant functions when using it with `GdkGLContext`. I've modified the `StaticStructGenerator` from `gl_generator` to generate bindings for epoxy in a `build.rs`, and modified the example again to use this new method

[2015-11-03 14:49] gkoz commented on #81
Oh wow, that's some sudden explosion of complexity :)

If generating epoxy bindings is the way to go, that's outside the scope of `gdk`. In the near term you'd probably want to put an `epoxy-gl` crate on github and import that in the example.

From what I can see there's nothing but magical side-effects to tie a particular `GLContext` instance to the `gl*` impls, so I'm not sure what the `GLContex

[2015-11-03 22:05] mjkoo commented on #81
Okay sure, crate is up and example is updated.

Yep, I agree with that assessment. Using the `epoxy` bindings though should allow us to get some integration going with `glium` now, perhaps with a small modification to `glium` to allow generic `gl::Gl` type structs in `glium::context::Context` (`epoxy::Gl` should be a drop-in replacement). If @tomaka isn't for that, potentially a small `get_proc_ad

[2015-11-05 22:32] mjkoo commented on #81
As an update, I've ported the simple example from the examples repo to use `glium` with a `GLArea`. There's definitely some cleanup to do and some decisions on where things belong, but it seems to work. The work in progress code can be found at https://github.com/mjkoo/examples/tree/glium

[2015-11-06 00:44] gkoz commented on #81
That's impressive progress :)
FWIW it seems `GLContext` can be made capable of telling if it's current (by comparing what `gdk_gl_context_get_current` returns with itself) and the dimensions could be retrieved from its `GdkWindow`.

`swap_buffers`... it appears the window painting mechanisms take care of swapping the buffers. Wouldn't `queue_render` there lead to constant repainting?

[2015-11-06 00:48] mjkoo commented on #81
Thanks! Cool that's good to know, I will change `is_current` accordingly and try it out. Spot on with your comment on `swap_buffers`, I actually just fixed that up :)

I'm thinking that once the `Backend` and `Facade` implementations are looking good they probably also belong in a separate crate, similar to `glium_sdl2`, unless you'd like to see this put into `gdk` somewhere?

[2015-11-06 00:54] gkoz commented on #81
This will require patching `gdk` as I don't think `PartialEq/Eq` is implemented for objects. Not even sure if it would be appropriate in general to implement it as pointers equality. Specialization will make that decision easier :)

Still not sure but a separate crate is a good bet.

[2015-11-06 01:06] mjkoo commented on #81
Ok cool I will defer doing that for now then, let me know what you'd like to see going forward.

[2015-11-06 02:21] gkoz commented on #81
A separate crate seems more flexible, we wouldn't need to track changes to `glium` and `epoxy` in the `gdk` and `gtk` crates and it wouldn't matter that `GLArea` and `GLContext` are in different crates.

[2016-01-29 17:18] #25 closed

[2016-02-21 16:29] jespino opened #101 "Display::get_event() commented in the code"
The get_event, peek_event and put_event are commented in the source code of display.rs, I need it for an application is posible to uncomment this code? works correctly?

[2016-02-21 16:54] gkoz commented on #101
Those implementations have bitrotten but the recent events overhaul (#95) makes them easy to implement.

[2016-03-02 22:50] gkoz opened #108 "Event accessors"
We have the following goals for the high level APIs like these getters:

- Do not expose raw pointers. We have helper function for common cases, you might want to look at the surrounding modules and `glib::translate` for guidance ([example of returning a window](https://github.com/gtk-rs/gdk/blob/db08aebae7b9a3bc511d5ea323d3e545e91ef194/src/window.rs#L517-L519)). It seems likely that most pointers

[2016-03-16 11:20] gkoz commented on #108
This issue has served its purpose it seems.

[2016-03-16 11:20] #108 closed

[2016-03-16 11:31] gkoz commented on #49
Inherent implementations should be visible now. The blanket implementations issue probably requires rewriting rustdoc.

[2016-03-16 11:31] #49 closed

[2016-03-16 11:32] gkoz commented on #32
Since we started generating the bindings the premise is not valid.

[2016-03-16 11:32] #32 closed

[2016-03-16 11:34] gkoz commented on #28
Looks like the motivation for this feature is not strong enough at this time.

[2016-03-16 11:34] #28 closed

[2016-03-16 11:37] gkoz commented on #4
I think this has mostly been settled and as far as gdk-pixbuf is concerned the missing piece is adding a `PixbufError` binding.

[2016-04-18 21:35] mwm opened #114 "Cursor manipulations don't seem to be possible"
Two issues, but they seem to be related. Let me know if you want them split.

First, `Cursor::Type` doesn't seem to be properly exposed. If I try t compile this:
[code]

I get this error:

It works if I use the `gdk-sys` crate and `gdk_sys::GdkCursorType::Watch`, which I believe should be the same thing.

Second, the type for the various gdk `set_cursor` routines seems to b e wrong. Quoting the do

[2016-04-18 21:48] gkoz commented on #114
This basically comes down to `gdk` not being generated yet, it's all hand-coded still. We're pretty close. Then `CursorType` will become a proper enum (https://github.com/gtk-rs/gtk/issues/307) and `set_cursor` will take `Option`.

[2016-04-18 21:55] mwm commented on #114
Is this something I could do locally and submit a pull request for given how little Rust/gtk experience I have? Or should I be patient and hope it makes it into the next release? I worked around the second issue by setting things back to XCursor and treating that type as a None.

[2016-04-18 22:01] gkoz commented on #114
I suppose we could merge a PR fixing `set_cursor` to take `Option`, it would literally be a one-line diff changing the signature.

[2016-04-20 04:02] mwm commented on #114
Ok, I fixed set_cursor, but how do I use the local build? It pulls in the rest of the project, which then pulls in the the git version from your repository, so all my types are wrong.

Two more questions: It currently takes an &Cursor, but get_cursor returns an Option<Cursor>. Should set_cursor take an Option<&Cursor> to match the current version or an Option<Cursor> to match get_cursor?

And what

[2016-04-20 08:54] gkoz commented on #114
A [path override](http://doc.crates.io/config.html) should help.

`Option<&Cursor>`, we take objects by reference.

Addition of `CursorType` to #115 probably.

[2016-04-20 09:06] EPashkin commented on #114
Added it

[2016-06-05 03:35] withoutboats opened #120 "Missing clipboard constants"
As far as I can tell, this crate is missing bindings to the `GDK_SELECTION_CLIPBOARD`, `GDK_SELECTION_PRIMARY`, and `GDK_SELECTION_SECONDARY` constants. These constants are necessary to implement cut/copy/paste with GTK.

[2016-06-05 10:13] GuillaumeGomez commented on #120
Indeed, strange...

[2016-06-05 23:46] gkoz commented on #120
Huh, that's an interesting case. Apparently these constants aren't available in gir definitions.

The way to bind the `GdkAtom` type has not been settled yet. I'm leaning toward not exposing it at all and converting to/from strings transparently. The significance of performance impact of this approach is not quite clear... These constants would then be strings.

[2016-06-07 01:26] fuchsnj opened #121 "gdk::EventButton is missing a "get_button()" function"
You can do `event.as_ref().button` but a convenience method would be nice

[2016-06-07 04:09] EPashkin commented on #121
Feel free to add PR.
Minor variant just add function to https://github.com/gtk-rs/gdk/blob/master/src/event_button.rs#L13-L27.
Better: create rusted enum on https://github.com/gtk-rs/sys/blob/master/gdk-sys/src/lib.rs#L697-L699 using https://github.com/gtk-rs/gdk/blob/master/src/auto/enums.rs as example.

[2016-06-07 10:54] gkoz commented on #121
I don't trust the docs saying the button range is 1-5, an enum likely isn't appropriate.

[2016-07-03 22:22] withoutboats commented on #120
Hey I don't want to be a bother, but is there any progress on this? Copy paste is a blocker for me to release an alpha of the [terminal emulator](https://github.com/withoutboats/notty) I'm working on.

If you're not ready to commit to any particular strategy for defining these constants, I'm happy to maintain something myself in my repo, but I don't understand GDK or C all that well, and my attemp

[2016-07-04 09:04] GuillaumeGomez commented on #120
No, sorry. I'll add them by hand as soon as possible.

[2016-07-04 13:48] gkoz commented on #120
After thinking a bit more I suppose it's more straightforward to actually use the `Atom` type, implement `From<&str>` for it and define these constants manually. There's an issue that the generator tries to take it by reference but it should probably be passed by value (it's `Copy` after all).

[2016-07-22 21:15] gkoz opened #126 "Fix struct WindowAttr visibility"
It's not exported in `lib.rs`.

[2016-07-25 23:49] #126 closed

[2016-09-29 14:57] aeosynth opened #129 "add event_handler_set wrapper"
it's not obvious to me how to use the `gdk_sys` version, so i'd like a higher level wrapper.

[2017-02-13 05:43] Susurrus opened #134 "Failure building gdk on Rust 1.13"
My projects have been targetting Rust 1.13 as a minimum build version and I recently ran into a problem building gdk (through the glib and gtk dependencies) for my GUI program:
[code]

These failures occur on `x86_64-unknown-linux-gnu`, `x86_64-pc-windows-gnu`, and `i686-pc-windows-gnu` only for 1.13. The same codebase for nightly and stable (currently 1.15.1) builds succeed.

I guess my first que

[2017-02-13 10:01] GuillaumeGomez commented on #134
Strange... However we cannot handle to support old rust releases...

[2017-02-13 16:02] EPashkin commented on #134
@Susurrus, its effect your #133 :wink:
Lines 134, 136, 151 need be removed as we define new biflags.
But after it removal 14 errors `expected struct 'auto::flags::EventMask', found struct 'ffi::GdkEventMask'` appears, that also need be fixed by adding `.to_glib()`.

Seems it really bug in new rust, it allow import different classes by same name.

[2017-02-13 18:42] Susurrus commented on #134
@GuillaumeGomez So there's no minimum Rust version you guys want to specify? gtk-rs will only be supported on stable?

@EPashkin I've tested compilation on `1.14.0`, `1.13.0`, and `1.15.1` locally and only `1.15.1` succeeds. Looks like `1.15` introduced some name resolution changes in the drive towards Macros 2.0: https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md#changes-t

[2017-02-13 18:53] EPashkin commented on #134
IMHO correct is deleting `use ffi::` and fix all error with `.to_glib()` and `from_glib` as it allow of use these flags in generated code (`gir` assumed that flags converted with `.to_glib()`)
Final decision on @GuillaumeGomez

[2017-02-13 19:03] GuillaumeGomez commented on #134
Yes, we support stable and nightly. Like I said, we can't affort to support more than that. There is a new version every 6 weeks, which means 8 versions a year. That's just too much.

However, if there is a rust 2 version someday, we'll try to keep support for rust 1 (stable/nightly) as well.

[2017-02-13 19:48] Susurrus commented on #134
@GuillaumeGomez That's reasonable and I think it'd be helpful to have that support declared explicitly in the README.

So if there isn't an intent to support anything below the latest stable version, is there even a need to "fix" this since it isn't an error on 1.15.1? If this should be fixed because it's an error, is there anyway to change the testing such that this will become an error for futur

[2017-02-13 22:15] GuillaumeGomez commented on #134
A thing that could be improved though would be to not import more than needed. But that'd require quite a lot of changes in `gir`...

[2017-02-21 23:03] Susurrus commented on #134
So from what @EPashkin said, it sounded like there was a change that should be done. But @GuillaumeGomez is there anything to do here or should I just close this issue?

[2017-02-21 23:04] GuillaumeGomez commented on #134
We definitely need to improve imports. I prefer to avoid any potential side effects as much as possible. So let's keep it open if you don't mind.

[2017-02-21 23:11] Susurrus opened #135 "cairo_interaction::set_source_rgba() is not public"
This applies to a lof of the functions in that file. I've been trying to copy some C code and it's converted basically to the following Rust example:
[code]

Unfortunately this doesn't compile because of both the missing `get_color()` (tracked in gtk-rs/gtk#454), but also because the equivalent of `gdk_cairo_set_source_rgba()` isn't available. It's implemented in `gdk::cairo_interaction` and I wou

[2017-02-21 23:13] Susurrus commented on #134
Sure, that's fine with me. I was trying to understand what @EPashkin, but it sounds like the right answer is to not bulk-import things. Is that correct?

[2017-02-21 23:14] GuillaumeGomez commented on #134
Indeed, we'd need to make more clever and specific imports. I'll try to make a PR for it when I have time.

[2017-02-21 23:21] Susurrus commented on #134
But is there any need for that if it isn't a compilation error? If you don't want to support older Rust versions, maybe it's not worth the effort?

[2017-02-21 23:23] GuillaumeGomez commented on #134
The code isn't *clean* and that is bothering. That's a sufficient enough reason I guess? 😉

[2017-02-21 23:25] Susurrus commented on #134
I can't argue with that; I also like clean code!

[2017-02-28 16:35] EPashkin opened #136 "Rectangle from_glib_xx problem"
`Rectangle` has implementation of trait [`FromGlibPtr`](https://github.com/gtk-rs/gdk/blob/master/src/rectangle.rs#L75-L95) that contains `panic!()` in "full" branch.

Implementation mostly unused as `Rectangle` returned by out.
Only use is converting ffi-struct field in [`EventExpose`](https://github.com/gtk-rs/gdk/blob/master/src/event_expose.rs#L16).

Converting ffi-struct field IMHO legal usag

[2017-02-28 16:43] GuillaumeGomez commented on #136
I think the first proposition is better.

[2017-02-28 17:08] EPashkin commented on #136
Was wrong, `Gir` also affected due gtk needed these changes:
[code]
I try change gir and add gdk PR after that

[2017-02-28 17:11] GuillaumeGomez commented on #136
Ok!

[2017-02-28 19:06] EPashkin commented on #136
Seems first way not does not work:
- `GdkEventButton` also don't have any functions and counts as "direct" record and have `from` in https://github.com/gtk-rs/gdk/blob/master/src/event.rs#L49-L52
- `cairo::Surface` also don't have any functions due "empty" .gir 😢
I start to think that better ignore this issue

[2017-02-28 19:56] EPashkin commented on #136
@GuillaumeGomez Extracting `FromGlibPtrNone` at minimum builds :wink: but need more time if you allow it.
I plan split `FromGlibPtr` to 3 parts: `FromGlibPtrNone`, `FromGlibPtrFull`, `FromGlibPtrBorrow` (currently only extracted None)
Also seems same better to with `FromGlibPtrContainer` as some of [implementation](https://github.com/gtk-rs/glib/blob/master/src/translate.rs#L1071-L1096) contains `

[2017-02-28 20:18] GuillaumeGomez commented on #136
Sure, take your time.

[2017-02-28 21:08] EPashkin commented on #136
`FromGlibPtrContainer` don't splited as it has many different cross calls.

[2017-02-28 21:09] GuillaumeGomez commented on #136
Should be good now. Let's see if CIs confirm it.

[2017-02-28 21:13] EPashkin commented on #136
Maybe better stop all appveyour that before https://ci.appveyor.com/project/GuillaumeGomez/gdk/build/1.0.155

[2017-03-01 15:42] #136 closed

[2017-03-07 18:17] Susurrus commented on #135
@EPashkin I mentioned this in my PR for the RGBA stuff, but I figured I'd break it out as a separate issue. Any idea what's going on here?

[2017-03-07 18:27] Susurrus commented on #135
Indeed, this looks to be a compiler bug. If I rename `ContextExt::set_source_rgba` to `set_source_rgba2`, then I can use that function in the `connect_draw` closure.

So here's the question, how do we want to resolve this? We have two functions, [`gdk_cairo_set_source_rgba`](https://developer.gnome.org/gdk3/stable/gdk3-Cairo-Interaction.html#gdk-cairo-set-source-rgba) and [`cairo_set_source_rgba`]

[2017-03-07 18:54] Susurrus commented on #135
Looks like I was wrong, sorry about the noise! Just talked to some people on IRC and the proper way to use these functions is the do `<Context as ContextExt>::set_source_rgba(&c, &foreground);` where `use cairo::Context;` and `use gdk::prelude::*; where used to bring both the struct and trait into scope.

So closing this.

[2017-03-07 18:54] #135 closed

[2017-03-07 19:01] EPashkin commented on #135
IMHO `ContextExt::set_source_rgba(&c, &foreground)` will work too

[2017-03-07 20:38] Susurrus commented on #135
The compiler complained about the types and using the explicit syntax fixed it.

[2017-03-15 19:51] EPashkin commented on #134
Gdk seems builds now with rustc 1.13.0 (2c6933acc 2016-11-07)
@Susurrus, can you test on your side and close issue it all Ok?

[2017-03-15 19:56] EPashkin opened #143 "Generate classes that currently manual"
Seems most gdk classes that currently done manual way can be generated now, it add signals support.
Also better generate Monitor and possibly Sink to have full Gdk screen management.

[2017-03-15 20:05] EPashkin commented on #121
Seems this can be closed

[2017-03-15 20:18] Susurrus commented on #134
I don't know what overrides you were talking about, but I don't have any local overrides specified.

[2017-03-15 20:47] GuillaumeGomez commented on #143
That'd be awesome!

[2017-03-15 20:47] #121 closed

[2017-03-17 16:35] #134 closed

[2017-03-17 16:35] #143 closed

[2017-03-17 17:28] Susurrus commented on #134
Latest commits fixed it, thanks guys! Now I did want to follow up on this and ask is supporting Rust 1.13 an explicit goal? I'd really like to make my project work that far back, but not unless gtk-rs explicitly supports it. If so, adding 1.13 to CI builds will help ensure that the minimum version will continue to be supported.

[2017-03-17 17:34] GuillaumeGomez commented on #134
No, I think I wrote it somewhere but it don't want to *explicitly* support older versions than the current stable. However, PRs to support older versions are very welcome.

[2017-03-17 17:40] Susurrus commented on #134
Sounds reasonable, thanks for clearing that up.

[2017-03-19 16:15] lukasstevens opened #146 "GdkScreen signals"
Hello, I would like to be able to use the signals of GdkScreen as described in the [documentation](https://developer.gnome.org/gdk3/stable/GdkScreen.html#GdkScreen-monitors-changed). I would implement them, but I am not sure how to do that. Maybe you can help me?

[2017-03-19 16:17] EPashkin commented on #146
It was implemented recently see https://github.com/gtk-rs/gdk/blob/master/src/auto/screen.rs#L268

[2017-03-19 16:21] GuillaumeGomez commented on #146
So target master instead of using the crates.io version.

[2017-03-19 16:23] lukasstevens commented on #146
That's cool! I am on master. I'll try it.

[2017-03-19 16:38] lukasstevens commented on #146
I have another question. How do I get all Screens to which my application has access to?

[2017-03-19 16:57] EPashkin commented on #146
Maybe https://github.com/gtk-rs/gdk/blob/master/src/auto/display_manager.rs#L29
as Display can have only one Screen https://developer.gnome.org/gdk3/stable/GdkDisplay.html#gdk-display-get-n-screens

[2017-03-19 17:01] lukasstevens commented on #146
Thank you I just was looking into `Display`, but I was confused that there is a method to which you pass the screen number. If there really is only one screen then the method [get_screen](http://gtk-rs.org/docs/gdk/struct.Display.html?search=#method.get_screen) does not make much sense, does it? Especially since `get_n_screens` does not seem to be implemented.

[2017-03-19 17:05] EPashkin commented on #146
It [implemented](https://github.com/gtk-rs/gdk/blob/master/src/auto/display.rs#L138)
Yes strange that `gdk_display_get_n_screens` deprecated in 3.10 but `gdk_display_get_screen` only in 3.20

[2017-03-19 17:07] lukasstevens commented on #146
Thank you for answering my questions. I think this can be closed.

[2017-03-19 17:07] #146 closed

[2017-03-20 14:05] lukasstevens commented on #143
I don't know if I should open a new issue for this, but I have a question concerning `Screen`, `Display` and `Monitor` which were updated/added with this pull request. As @EPashkin mentioned `Monitor` is now available. The problem is that the `Display` struct does not implement the corresponding method `get_monitor`. Therefore it is currently not possible to use the `Monitor` struct at all if I am

[2017-03-20 14:08] GuillaumeGomez commented on #143
It appeared in 3.22 so we should have it normally.

https://developer.gnome.org/gdk3/stable/GdkDisplay.html#gdk-display-get-monitor

[2017-03-20 14:14] lukasstevens commented on #143
Sorry that I bothered you, I failed to specify the feature set in the Cargo.toml.

[2017-03-20 15:24] EPashkin commented on #143
Also you can look https://github.com/gtk-rs/gdk/issues/146 if you don't have 3.22

[2017-03-28 03:59] Susurrus opened #149 "Add Selections constants"
Pertains to `GDK_SELECTION_*`, `GDK_TARGET_*`, and `GDK_SELECTION_TYPE_*` [reference](https://developer.gnome.org/gdk3/stable/gdk3-Selections.html).

I think these should go in `src/selections.rs`, and I'd implement them manually, but unlike other constants already exposed by `gdk`, these do not already exist in `gdk_ffi`. What's the proper procedure here then? Should these somehow be exposed in `

[2017-03-28 15:28] GuillaumeGomez commented on #149
`gdk_ffi`?

Well, otherwise I'd declare them in `sys/gdk/lib.rs` and then properly reexport them in the `gdk` crate.

[2017-04-06 15:47] PlasmaPower opened #152 "No platform specific APIs (e.g. X11Window)"
Platform specific APIs seem to be missing from this project, although they are found in the gir files: https://github.com/gtk-rs/gir-files/blob/master/GdkX11-3.0.gir

Is there a way to access them besides manually referencing the `extern` functions?

[2017-06-12 15:00] Susurrus commented on #120
I'm actually looking to use the `GDK_SELECTION_*` constants as well, but I didn't find them in the code, just this old issue. If this was indeed implemented, what's the proper way to get `GDK_SELECTION_CLIPBOARD`?

[2017-06-12 15:06] GuillaumeGomez commented on #120
Hum, I don't find either. Also not in gdk_sys file: https://github.com/gtk-rs/sys/blob/master/gdk-sys/src/lib.rs

So it just disappeared?

[2017-06-12 15:07] Susurrus commented on #120
Well the commit that closed this issue never implemented it. Just implemented `From<&str>` I guess.

[2017-06-12 15:09] GuillaumeGomez commented on #120
Well, I guess it's re-generate the gdk-sys. Not sure I'll have the time today so don't hesitate to do it.

[2017-06-12 15:09] EPashkin commented on #120
It not in gir, so regen not work.

Seems it need implemented in https://github.com/gtk-rs/gdk/blob/master/src/atom.rs#L11 or directily in lib

[2017-06-12 15:15] Susurrus commented on #120
Yeah, there're [several constants missing](https://github.com/linuxmint/gtk/blob/master/gdk/gdkselection.h). I'll file a PR for this if it's as easy as adding them to `src/atom.rs`.

[2017-06-13 07:49] #120 closed

[2017-06-30 21:44] hasufell opened #173 "gdk::EventScroll:get_scroll_direction() missing"
No idea how I should get the scroll direction without resorting to gdk_sys here.

http://gtk-rs.org/docs/gdk/struct.EventScroll.html
https://developer.gnome.org/gdk3/stable/gdk3-Event-Structures.html#GdkEventScroll

[2017-06-30 21:55] GuillaumeGomez commented on #173
Hum, good point. A few fields don't have a getter.

[2017-07-01 10:16] #173 closed

[2017-07-01 10:47] hasufell commented on #173
I get

[code]

In the following code snippet:

[code]

[2017-07-01 11:20] GuillaumeGomez commented on #173
The following code:

[code]

works fine for me. Did you run `cargo update`? Also, do you target the git repository or the crates.io version?

[2017-07-01 11:25] hasufell commented on #173
Oh, you are right. I just did `cargo clean` and `cargo build` assuming it would re-fetch the git repo.

[2017-07-04 10:39] hasufell opened #175 "Implement gdk_pixbuf_copy/gdk_pixbuf_copy_options"
https://developer.gnome.org/gdk-pixbuf/stable/gdk-pixbuf-Image-Data-in-Memory.html#gdk-pixbuf-copy
and
https://developer.gnome.org/gdk-pixbuf/stable/gdk-pixbuf-The-GdkPixbuf-Structure.html#gdk-pixbuf-copy-options

[2017-07-15 05:01] Capital-EX opened #178 "&Device.list_axes() Always Returns Empty Vec<Atom>?"
I'm not sure if there is something I need to do before using `list_axes(&self)`, but it always returns an empty `Vec`.
I find this confusing since calling `get_n_axes(&self)` it will return `3`. And additionally, calling `get_axes(&self)` will return `AXIS_FLAG_X | AXIS_FLAG_Y | AXIS_FLAG_PRESSURE`.

Is `list_axes` misbehaving or am I misusing it?

[2017-07-21 12:36] hasufell commented on #175
wrong repo :>

go here https://github.com/gtk-rs/gdk-pixbuf/issues/43

[2017-07-21 12:36] #175 closed

[2017-07-28 01:29] Ralvke opened #182 "Any way to get XID from Window/DrawingArea?"
I'm want [get XID](https://developer.gnome.org/gdk3/stable/gdk3-X-Window-System-Interaction.html#GDK-WINDOW-XID:CAPSl) from Window/DrawingArea
It's possible? (need for libvlc)

[2017-07-28 04:32] EPashkin commented on #182
You need function https://developer.gnome.org/gdk3/stable/gdk3-X-Window-System-Interaction.html#gdk-x11-window-get-xid ?

[2017-07-28 12:19] Ralvke commented on #182
Yes

On Fri, Jul 28, 2017, 09:32 Evgenii Pashkin <notifications@github.com>
wrote:

--
Maxim Lis

EMail: ralvke@gmail.com
Skype: ralvke

[2017-07-28 13:03] EPashkin commented on #182
You can try this ffi crate https://github.com/EPashkin/rust-gnome-sys/tree/gdkx11/gdk-x11-sys (not tested)
or copy needed functions (`GdkX11Window` IMHO can replaced with `GdkWindow`)

[2017-07-28 13:08] GuillaumeGomez commented on #182
@EPashkin: I just wondered: we don't have a way to specify if a function should only be bound for a specific os, right? Do you think it'd be interesting to add it or not? (if yes, I'll do it)

[2017-07-28 13:21] EPashkin commented on #182
Problem is not concrete function but whole crate as it need package `gdk-x11-3.0`.
Maybe we need add `sys-linux` repo for this if we want support this crate and others like `xlib`.

[2017-07-28 13:23] GuillaumeGomez commented on #182
It'd be a big plus I think. I'll start working on it.

[2017-08-09 23:22] superlou commented on #182
@Ralvke, did you have any luck with this?  I'm trying to do a similar thing for GStreamer.  I have the `gtk::WIndow` from the `DrawingArea`.

[2017-08-10 15:01] Ralvke commented on #182
@superlou  yes, it works, thanks.
[code]

But vlc render video in full window (we get xid from window), not in `DrawingArea`

http://gtk-rs.org/docs/gtk/trait.WidgetExt.html#tymethod.get_parent_window

[2017-08-10 16:13] superlou commented on #182
@Ralvke If you want to draw on the whole window, I don't think you need the DrawingArea.  Just pass `window` to `gdk_x11_window_get_xid`.

[2017-08-10 17:22] Ralvke commented on #182
@superlou all works perfectly
(For drawing on `DrawingArea` use `get_window()` instead `get_parent_window()`)

[2017-08-10 17:29] superlou commented on #182
I would consider leaving this issue open, because it would be good for the library to have this functionality wrapped.  I suspect it might even already be in the library since it's based on generated bindings.  I just didn't have any luck finding it.

[2017-08-10 21:12] Ralvke commented on #182
Ok

[2017-09-11 17:55] #178 closed

[2018-01-04 03:57] hungtcs opened #201 "Missing keymaps"
Hello!  I can not find the api about key map, is it missing?

[2018-01-04 15:31] GuillaumeGomez commented on #201
Are you talking about [this](http://gtk-rs.org/docs/gdk/enums/key/index.html)?

[2018-01-05 00:26] #201 closed

[2018-01-05 00:27] hungtcs commented on #201
Yes! Ashamed,thank you.

[2018-01-05 00:32] GuillaumeGomez commented on #201
Don't hesitate if you have other issues. ;)

[2018-01-16 16:06] Phrohdoh commented on #81
Hey @mjkoo - sorry for digging up an old thread!

Has there been any progress on this front? (another crate being spawned or something similar)

I'd really like to use glium in some of my gtk apps. :-}

[2018-01-16 17:04] mjkoo commented on #81
Sorry I ended up going a different route for the project that I was working on and therefore didn't pursue this further, not sure what the glium + gtk story is today.

[2018-02-10 03:38] pwil3058 opened #205 "add a method get_root_position() to EventMotion"
Sometimes one needs the position relative to the root of the screen rather than the widget.

pub fn get_root_position(&self) -> (f64, f64) {
        let x = self.as_ref().x_root;
        let y = self.as_ref().y_root;
        (x, y)
}

[2018-02-10 05:19] EPashkin commented on #205
Agree, with `is_hint->bool`, `axes->Option((f65, f64))`, and `device->Device`
Feel free to fill PR

[2018-06-25 09:41] FreeFull opened #222 "Bindings for gdk_event_request_motions() missing"
GDK documentation: https://developer.gnome.org/gdk3/stable/gdk3-Events.html#gdk-event-request-motions

GTK 3.8 and onwards will always compress motion events, unless gdk_window_set_event_compression() is used to disable compression. gdk_event_request_motions() is the recommended way of decompressing the events in a handler, but it seems that the binding for it is missing. An alternative is the gdk

[2018-06-30 14:07] EPashkin commented on #222
@FreeFull `get_device` can be called on any event object as it implemented in "parent" `Event`, but seems it only in git version

[2018-06-30 14:41] #222 closed

[2018-07-17 11:17] CBurgener opened #230 "Events are missing properties"
Many event objects are missing properties in rust compared to the gdk implementation.
Example: [gdk motion event](https://developer.gnome.org/gdk3/stable/gdk3-Event-Structures.html#GdkEventMotion) has a device property and [gtk-rs motion event](http://gtk-rs.org/docs/gdk/struct.EventMotion.html) does not.
Were these properties left out for a specific reason?

[2018-07-17 11:20] EPashkin commented on #230
This class was written manually, so it was just skipped (maybe because no GdkDevice was generated at that time).

[2018-07-17 11:23] cyrill-burgener commented on #230
Would it be useful to manually complete the implementations or are you planning on autogenerating these classes as well?

[2018-07-17 11:31] GuillaumeGomez commented on #230
I'll add the missing functions this evening.

[2018-07-17 11:35] CBurgener commented on #230
Great, thank you.

[2018-07-17 11:35] GuillaumeGomez commented on #230
Don't close it until it's fixed! XD

[2018-07-17 11:46] CBurgener commented on #230
Oops, pressed the wrong button

[2018-07-17 18:03] #230 closed

[2018-07-19 19:49] GuillaumeGomez commented on #205
Solved so I close it.

[2018-07-19 19:49] #205 closed

[2018-07-21 07:31] CBurgener opened #234 "Add methods to read out axis values on device"
There is currently no way to read out the axis values on a device.
`auto/device.rs` has a method stub for `fn get_axis(&self, axes: &[f64], use_: AxisUse) -> Option<f64>`, which it is commented out and the field `GdkDevice.axes` is not accessible.

[2018-07-21 09:32] GuillaumeGomez commented on #234
This is strange because it should be generated and there is no warning about it. Any clue @EPashkin?

[2018-09-07 15:12] dhardy opened #240 "`Event::downcast` is requires clone from event handler"
It seems strange that `downcast` should consume self when we pass by reference elsewhere. Should the handler instead be passed `event: gdk::Event` to make proper use of your `Boxed` smart pointer?
[code]

[2018-09-17 09:13] sdroege commented on #240
Another option here would be to take the event by value instead of mutable reference

[2018-09-17 09:17] dhardy commented on #240
I'll let you decide whether to reference your smart references...

but here one could in theory use a non-mutable reference, and update `gtk::main_do_event` only to take a `&gdk::Event` — though this means vouching for the GTK code, where we have no say over what it will do in the future.

[2018-09-25 10:12] norru commented on #114
The following code has no effect (cursor doesn't change ,`window` is a gtk top-level), is this related?

[code]

[2018-10-13 11:13] fengalin opened #250 "Proposal: use an `Option` for return value of `get_[predicted_]presentation_time()`"
`get_presentation_time` & `get_predicted_presentation_time` [can both return `0` when the value is not available](https://developer.gnome.org/gdk3/stable/gdk3-GdkFrameTimings.html#gdk-frame-timings-get-predicted-presentation-time).

In Rust, returning `None` in this case would make it clear that the value shouldn't be used as is. I tried changing the signature to return an `Option` using Gir's `nu

[2018-10-13 11:16] EPashkin commented on #250
IMHO sound reasonable.
Can be done only with manual implementation.

[2018-10-13 11:18] fengalin commented on #250
@EPashkin ok thanks. I'll do this soon then.

[2018-10-17 08:31] fengalin commented on #250
Fixed per #251

[2018-10-17 08:31] #250 closed

[2018-12-15 14:10] MeisterTea opened #256 "setting _NET_WM_WINDOW_TYPE(ATOM)"
Hi, how can I set this parameter for the ApplicationWindow instance ?
Also, same question for NET_WM_STRUT_PARTIAL and _NET_WM_STRUT(CARDINAL).

Thank you

[2018-12-15 14:30] GuillaumeGomez commented on #256
Apparently, you can do it by calling [gdk::property_change](http://gtk-rs.org/docs/gdk/fn.property_change.html) function on your window (a little call to [upcast](http://gtk-rs.org/docs/gtk/trait.Cast.html#method.upcast) and you have your window).

I found [this topic](https://stackoverflow.com/questions/13455527/cant-change-net-wm-strut-partial-property) which talks about it. Maybe take a look at

[2018-12-16 23:35] MeisterTea commented on #256
It worked fine, thank you.

[2018-12-16 23:35] #256 closed

[2018-12-31 16:06] MeisterTea opened #258 "get window title"
Is there a method to get the title from a given gdk::Window ?
Like the reverse of what this method does: http://gtk-rs.org/docs/gdk/trait.WindowExt.html#tymethod.set_title

[2019-01-01 06:32] EPashkin commented on #258
https://gtk-rs.org/docs/gtk/trait.GtkWindowExt.html#tymethod.get_title not works?

[2019-01-30 09:13] brackleian opened #268 "Cannot modify gdk_sys::GdkEventKey fields"
gdk::EventKey::as_ref() returns an immutable reference, and there are no setter functions for most of the struct members. In particular, for: window, send_event, time, state, keyval. There should be an as_mut_ref() function, and/or set_window(), etc.

Related to the above: the underlying GTK window object of the value passed to set_window() needs to have its ref count incremented. I'm assuming thi

[2019-01-31 11:04] Weboholics opened #269 "Window function set_titlebar generate gtk-CRITICAL error messages when moving window"
Line 41 in sourcefile mainwindow.rs enables moving window by pressing mousebutton over the headerbar in the window. When running the program in shell and moving the window I get this message:

gtk_container_propagate_draw: assertion '_gtk_widget_get_parent (child) == GTK_WIDGET (container)' failed

**https://developer.gnome.org/gtk3/stable/GtkHeaderBar.html**
(using headerbar with set_titlebar)
Fo

[2019-02-07 00:07] brackleian commented on #268
After more research, I found that the missing `as_mut_ref()` function actually does exist, but is called `as_mut()`, so all good there.

I also found the 'proper' way to deal with the GTK object reference count, which needs to be incremented in the `set_window()` function.

My current solution:
`pub trait `EventKeyExtra`
{
	fn set_window (&mut self, &gdk::Window);
	fn set_send_event (&mut self, bo

[2019-03-05 10:07] psnszsn opened #283 "gdk wayland interaction"
Is it possible to use the functions from `gdkwayland.h`?
Specifficaly i would like to use `gdk_wayland_window_get_wl_surface()` and `gdk_wayland_window_set_use_custom_surface()`.

[2019-04-14 16:05] jangernert opened #287 "gdk::Seat::grab() panic"
I've ported some vala code to rust and noticed that the rust code panics at `gdk::Seat::grab()`.
Am I using the rust bindings wrong or is this a bug?
Vala:
https://github.com/jangernert/FeedReader/blob/master/src/Widgets/ArticleView.vala#L597
WIP Rust:
https://gitlab.com/news-flash/news_flash_gtk/blob/master/src/article_view/mod.rs#L501

Backtrace:
[code]

relevant crate versions:
[code]

Any more

[2019-04-14 16:16] EPashkin commented on #287
Its bug in generated code, it actually don't allow `None` as function, while it can be really NULL
https://developer.gnome.org/gdk3/stable/GdkSeat.html#gdk-seat-grab,
@GuillaumeGomez as I remember we have `null_ptr()` on `None` in generated code, but don't remember how to enable it.

[2019-04-14 18:35] jangernert commented on #287
Can confirm this works fine:
[code]

[2019-04-14 18:39] GuillaumeGomez commented on #287
@EPashkin if you're talking about generation, it's `nullable = true`.

[2019-04-14 19:26] EPashkin commented on #287
It already nullable but skipped when generating
[code]
added PR https://github.com/gtk-rs/gir/pull/747

[2019-04-15 15:46] #287 closed

[2019-06-23 20:21] GuillaumeGomez opened #301 "Compilation failing"
When I run `cargo build` (no options or anything) I get:

[code]

cc @sdroege @EPashkin

[2019-06-23 21:58] sdroege commented on #301
It was removed in 8786402601d738b82f32674acf2bc15966a626fd. Not sure why? Seems very unrelated.

Also the function is in `WindowExt` and `WindowExtManual`. Autogenerated and manual. Needs some investigation what's up with that.

[2019-06-24 03:32] EPashkin commented on #301
@sdroege Manual version was not removed when Geometry added,
https://github.com/gtk-rs/gdk/pull/302 is fix.

[2019-06-24 07:56] #301 closed

[2019-07-12 17:30] bmteller opened #304 "threads_add_idle asserts it is running on the main thread"
I assume it is like this because the auto-generating of the bindings. But I think this function is safe to call when not on the main thread.

[2019-08-06 16:56] PolyMeilex commented on #283
I also need access to ``gdkwayland.h`` functions and I don't know if I overlooked something or they just don't exist.
I looked for functions from ''gdkwayland.h'' in [gtk-sys](https://github.com/gtk-rs/sys) and [gir-files](https://github.com/gtk-rs/gir-files) and it looks like they are not there.

I also looked for ''.gir'' files for ``gdkwayland`` in Debian and Arch repos, but I can only find ''G

[2019-08-12 21:21] bilelmoussaoui opened #308 "Clean up ciaro interactions"
Currently, some methods are implemented as part of the ContextExt which shouldn't be the case.

The PixbufExt isn't loaded on prelude either.

[2019-08-14 10:12] vbsteven opened #310 "Missing gdk_key_map_* functions"
I noticed the various functions related to  `gdk_key_map_*` and `gdk_keyval_*`  as described in https://developer.gnome.org/gdk3/stable/gdk3-Keyboard-Handling.html are missing. Is anyone working on this? Is this something I might be able to add in a PR?

[2019-08-14 10:49] sdroege commented on #308
* `cairo_draw_from_gl()` should take the context as `&self`
* `cairo_surface_create_from_pixbuf()` should be removed from `ContextExt` (it's in `PixbufExt` where it should be)
* The traits should get `Gdk` as prefix of their name to prevent conflicts

[2019-08-14 10:50] bilelmoussaoui commented on #308
Thanks! Will get a MR for this later today

[2019-08-22 12:02] #258 closed

[2019-09-05 10:25] sdroege commented on #308
Long day :) I've created https://github.com/gtk-rs/gdk/pull/312 for this now, please review if you have some time

[2019-09-05 13:54] #308 closed

[2019-09-05 14:02] bilelmoussaoui commented on #308
Thanks for taking the time to fix it. Completely forgot about it

[2019-10-31 15:03] #310 closed

[2020-02-07 20:45] bilelmoussaoui opened #332 "GdkPixbufExt: create_surface doesn't work with a None"
I have added in https://github.com/gtk-rs/gdk/commit/2e14ec939cf9a484454fdbe70126b92c57ddfb64 the possibility to use the `create_surface` without passing a `GdkWindow`.

From what I understand, somehow `glib::IsA` doesn't seem to work correctly with an `Option<gdk::Window>` as I keep getting

[code]

using `gdk::NONE_WINDOW` doesn't seem to help neither. Removing the use of `glib::IsA` in the patc

[2020-02-07 20:54] sdroege commented on #332
This should work

[code]

It's a `GObject` so it does implement that trait and lots of others. Why do you think it does not implement `ToGlibPtr`?

[2020-02-07 20:59] EPashkin commented on #332
` let new_surface = pixbuf.create_surface(5 as i32, gdk::NONE_WINDOW).unwrap();`
compiles for me

[2020-02-07 21:18] bilelmoussaoui commented on #332
Well, I can't get it to compile here with this
[code]

and these dependencies defined in Cargo.toml
[code]

[2020-02-07 21:23] sdroege commented on #332
You need to use gdk from git. It's not in a release yet, and will only be in the 0.13 release (not 0.12.1).

[2020-02-07 21:26] bilelmoussaoui commented on #332
I somehow completely missed checking whether it was released or not.
Sorry for the noise :)

[2020-02-07 21:26] #332 closed

[2020-02-12 21:36] cmyr commented on #304
I also just ran into this.

Not only is this function safe to call from other threads, it is the recommended way of communicating back to the main thread from another thread.

I'd be happy to come up with a patch, but I'm not sure how that works with the generated bindings?

[2020-02-13 03:34] EPashkin commented on #304
@cmyr: So issue need be renamed to "threads_add_idle asserts **if** is running **not** on the main thread" ?

[2020-02-13 03:44] EPashkin commented on #304
It need fix in gir, I will do it on the weekend

[2020-02-13 05:10] sdroege commented on #304
@cmyr You can use [`glib::source::idle_add()`](https://gtk-rs.org/docs/glib/source/fn.idle_add.html), or for a slightly different pattern [`glib::MainContext::channel()`](https://gtk-rs.org/docs/glib/struct.MainContext.html#method.channel) or any approach using futures (the main context is a futures executor).

I think we should simply ignore this and similar functions from gdk. They don't bring a

[2020-02-13 05:12] sdroege commented on #304
I.e. all `gdk_threads_.*` functions should be ignored.

[2020-02-13 12:24] sdroege commented on #304
@EPashkin You make a PR for that?

[2020-02-13 14:50] cmyr commented on #304
`idle_add()` looks like it would probably work. I don't have enough context to offer a strong opinion; I don't use gtk much, I'm just maintaining some code.

In terms of naming of this thread title, well lets not spend too much time on it 😉 but I think the current phrasing is reasonable; there is an assert that checks if the function is running on the main thread, which fails otherwise, even thoug

[2020-02-13 15:49] sdroege commented on #304
Yeah, we're just going to remove the functions :) They're only duplicating the behaviour of the functions with the same names from glib.

[2020-02-16 15:41] greyltc commented on #269
I've run into the same thing today. Can anyone offer any help?

[2020-02-20 09:12] sdroege commented on #269
There are a couple of mistakes in the attached example:
* putting the headerbar into a vbox and then afterwards setting it as titlebar, that's not allowed as each widget must only have a single parent. That gets rid of the critical warnings. If you set it as a titlebar then you can move the window on it, if you add it to the vbox then you need to implement the moving yourself
* disabling decoratio

[2020-02-20 09:37] #269 closed

[2020-03-05 19:15] bilelmoussaoui opened #336 "Add GDK_EVENT_* & GDK_BUTTON_* to the public api"
Per the discussion in that chat room

the gdk_button & gdk_event are exposed through the -sys crate only and should be part of the public API

Quoting ebassi

[2020-03-05 20:30] GuillaumeGomez commented on #336
The events more generally would need a closer look because I'm sure a few other things don't have bindings.

[2020-03-12 19:53] sergioArgerey opened #337 "Use of gdk_sys::gdk_screen_get_default()"
Hi all,

I'm trying to port some of the logic of devilspie2 into a project written in rust.

https://git.savannah.gnu.org/cgit/devilspie2.git/tree/src/devilspie2.c#n136

[code]

[code]

I tried something like "export DISPLAY=:0" but I'm out of ideas.

[2020-03-12 20:21] GuillaumeGomez commented on #337
Why aren't you using the non-sys gdk crate? It'll tell you exactly what's wrong.

[2020-03-13 07:56] sdroege commented on #337
The warnings also tell you what exactly is going wrong here. `gdk_display_get_default()` return `NULL` and you're not checking for that before passing it onwards.

There's nothing special about the bindings here, if you use the -sys bindings directly you are effectively writing C. Please ask on the GTK mailing list for help about problems directly related to GTK/GDK and not the bindings.

@Guillau

[2020-03-13 08:26] #337 closed

[2020-03-19 19:20] tsahyt opened #338 "gdk::WindowAttr should contain an EventMask in the event_mask field"
Currently the `event_mask` field has type `i32`. The `EventMask` struct exists and can be built as a bitfield, and then converted using `.bits()`, yielding an `u32` which then needs to be cast in order to be used in the `event_mask` field. This is somewhat unwieldy, and it would likely be preferable to just have the `WindowAttr` struct contain the `EventMask`.

[2020-04-10 15:10] #338 closed

[2020-04-12 16:41] cshuaimin opened #343 "enum gdk::ChangeData lacks variant UInt(u32)"
I'm porting some C code using XCB to gdk:
[code]
You see the `format` argument is `32` and `data_len` is `1`, but `gdk::property_change()` cannot do such work because the argument type `gdk::ChangeData` has only `u8`, `u16` and `u64` variants.

Seems that passing a `u64` should work, but I failed. I have to use `gdk-sys` crate and everything behaves same as the C code.

[2020-04-12 16:55] sdroege commented on #343
It's not an `u64` variant but a `gulong` / `libc::c_ulong`, so this would actually be an `u32` on 32 bit platforms (and Windows x64). That should be the variant you would use and with a cast back and forth this should also work.

Can you provide a minimal testcase that shows how this fails?

[2020-04-13 01:14] cshuaimin commented on #343
Thank you! Here's my code:

In Cargo.toml:
[code]

`main.rs`:
[code]
Then I use `xprop` to inspect the window, but `xprop` displays some random number, and each run is different:

[code]

Maybe I made some mistakes in the casting?

[2020-04-27 19:25] afranke opened #345 "Nicer bindings for Key(val) related functions"
Key has no method and we end up with e.g. `keyval_to_unicode(ev.get_keyval())` instead of `ev.get_keyval().to_unicode()`.

[2020-04-27 19:35] GuillaumeGomez commented on #345
This is a good point, thanks for bringing it up!

[2020-06-06 11:42] #345 closed

[2020-08-18 07:58] sdroege commented on #336
`GDK_BUTTON_*` are added in https://github.com/gtk-rs/gdk/pull/352

@bilelmoussaoui want to go ahead and add the others you noticed are missing?

[2020-08-18 08:00] sdroege commented on #343
That looks correct to me but I don't really know this API. Did you figure it out in the meantime? Does it behave the same wrong way in C if you use the GDK API?

[2020-08-18 16:04] #336 closed

[2020-08-18 16:13] bilelmoussaoui opened #355 "Make Event_STOP|PROPAGATE slightely better"
it would be nice to have something similar to glib::Continue. See #354 for details

[2020-08-26 09:01] Srikanth-M-02 opened #356 "unresolved import `gdk::Monitor`"
Version:0.13.1

When I run cargo doc --open, also under Gdk there is no struct called Monitor

[2020-08-26 11:31] GuillaumeGomez commented on #356
Very likely an artifact. I'm updating the doc generator in order to prevent these cases...

[2020-08-26 19:11] GuillaumeGomez commented on #356
It's marked in the documentation: https://gtk-rs.org/docs/gdk/struct.Monitor.html

You need to enable the `v3_22` feature to have this type.

[2020-08-26 19:11] #356 closed

[2020-10-10 14:17] bilelmoussaoui commented on #152
This can be closed as there's now a gdkx11 crate.

[2020-10-10 15:20] #152 closed

[2020-10-10 20:23] bilelmoussaoui commented on #182
https://gtk-rs.org/docs/gdkx11/struct.X11Window.html#method.get_xid
This can be closed I guess

[2020-10-11 05:34] #182 closed